<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleksandr Furmanov</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/foundation-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">

    <script type="text/javascript" src="/javascripts/lib/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.history.js"></script>
    <script type="text/javascript" src="/javascripts/lib/pubsub.js"></script>
    <script type="text/javascript" src="/javascripts/lib/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/lib/ejs.js"></script>
    <script type="text/javascript" src="/javascripts/main.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js">
    </script>

  </head>
  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5TTPVP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5TTPVP');</script>
    <!-- End Google Tag Manager -->
<header>
      <div class = 'row'>
        <div class = 'large-12 columns'>
          <img src = "http://www.gravatar.com/avatar/92f57d3f0d0ec4527a20bc68e6938d74"></img>
          <div id = 'logo-wrapper'>
            <h3>ALEKSANDR</h3>
            <h3>FURMANOV</h3>
          </div>
          <div id='slash'>
            <h1>/<h1>
          </div>
          <div id='title'>
            <h1>BLOG</h1>
            <h5>My thoughts mostly about software craftsmanship...</h5>
          </div>
          <div class='social'>
            <a href="http://github.com/afurmanov" target="_blank"><i class="fi-social-github"></i></a>
            <a href="http://twitter.com/afurmanov" target="_blank"><i class="fi-social-twitter"></i></a>
            <a href="http://www.linkedin.com/pub/aleksandr-furmanov/7/25/152/" target="_blank"><i class="fi-social-linkedin"></i></a>
          </div>
        </div>
    </header>
    <div id = 'main-wrapper'>
      <div id='aside-wrapper'>
        <div id='aside' class = 'panel'>
        </div>
      </div>
      <div id = 'content-wrapper'>
        <div id='content'>
        </div>
        <footer class="row">
          <div id="disqus_thread"></div>
          <div class='social row'>
            <div class = 'large-4 large-offset-4 columns'>
              <a href="http://github.com/afurmanov" target="_blank"><i class="fi-social-github"></i></a>
              <a href="http://twitter.com/afurmanov" target="_blank"><i class="fi-social-twitter"></i></a>
              <a href="http://www.linkedin.com/pub/aleksandr-furmanov/7/25/152/" target="_blank"><i class="fi-social-linkedin"></i></a>
            </div>
          </div>
      </div>
      </footer>
    </div>

    <script type="text/javascript" src="/javascripts/lib/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
