@import "settings/settings";
@import "util/util";
@import "foundation";

//general layout
$aside-width: rem-calc(240);

.row {
 margin-left: 0;
 margin-right: 0;
}

#main-wrapper {
    width: $grid-row-width;
    display : table;
}

#aside-wrapper {
    display : table-cell;
    width: grid-calc(2, $grid-columns);
    min-width: grid-calc(2, $grid-columns);
}

#content-wrapper {
    display: table-cell;
}


// HEADER

header {
   padding-top: 1rem;
   padding-bottom: 1rem;
   img {
       height:4rem;
       width:4rem;
       @include border-radius(4px);
       float: left;
   }
   #logo-wrapper {
       float:left;
       h3 {
           padding-left: 1em;
           line-height: 1.5rem;
       }
   }
   #slash {
       float:left;
       color: $medium-gray;
       h1 {
           line-height: 3rem;
           font-size: 5rem;
           color: $medium-gray;
      }
   }
   #title {
       float:left;
       h1 {
           line-height: 1.9rem;
           color: $medium-gray;
       }
       h5 {
           line-height: 1.2rem;
           color: $medium-gray;
       }
   }
   .social {
       a {
           target-new:tab;
       }
       i {
           font-size:2em;
           margin-right: 1rem;
       }
       float: right;
   }
}

// side-navigation

#aside-wrapper {
    background: $secondary-color;
    .panel {
        border: none;
        }
    border-style: solid;
    border-width: 1px;
    border-color: smart-scale($secondary-color, -11%);
}

// CONTENT
article {
    h1 { font-size: rem-calc(37); }
    h2 { font-size: rem-calc(27); }
    h3 { font-size: rem-calc(23); }
    h4 { font-size: rem-calc(18); }
    h5 { font-size: 1rem; }
    h6 { font-size: 1rem; }
    pre {
        margin-bottom: rem-calc(20);
        font-size: rem-calc(16);
        line-height: normal;
    }
    pre code {
        font-size: rem-calc(11);
    }
    .title {
        text-align: center;
    }
    padding-left: 1rem;
}

// FOOTER

footer {
    #disqus_thread {
        margin: 0 2rem;
    }
    .social {
        widht: 100%;
        i {
            font-size: 2rem;
            margin-left: 2rem;
        }
        padding-top: 2rem;
        padding-bottom: 2rem;
        background: $secondary-color;
    }
}
